body {
    background-color: rgba(129, 114, 114, 0.484);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: rgb(75, 32, 13);
    text-align: left;
}

h1 {
    text-decoration: underline;
}

div {
    text-align: center;
}

section {
    background-color: rgba(109, 110, 112, 0.377);
    border: 6px dotted rgb(75, 32, 13);
}

.one {
    color: rgba(56, 28, 17, 0.79);
}

.two {
    text-align: right;
}